.loc-edit {
  border-radius: 20px;
  padding: 30px;
  margin: auto;
  background-color: lightgrey;
}

.loc-edit form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Ensures elements are spaced out a little */
  padding: 15px; /* Padding for the form */
}

.loc-edit input[type='text'],
.loc-edit input[type='number'],
.loc-edit button {
  padding: 8px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.loc-edit button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loc-edit button:hover {
  background-color: #0056b3;
}
